.container {
  padding: 5%;
  text-align: center;
}

.mat-flat-button{
  margin-top: 30px;
}

.mat-form-field{
  width: 300px;
}

.upload-img-area{
  font-size: 350%;
  display: flex;
  justify-content: center;
}
.upload-icon {
  border: 2px solid black;
  border-radius: 50%;
  width: 300px;
  padding: 2%;
  height: 300px;
  
}
.upload-icon img{
  clip-path: circle(90px);
}
a:hover {
  color: red;
}

