
.header {
  padding: 2% 0% 2% 0%;
  text-align: center;
  background-image: url(https://365manga.com/wp-content/themes/madara/images/bg-search.jpg);
  color: rgb(26, 25, 25);
  letter-spacing: 1.5px;
}
.header span {
  background: yellow;
  color: black;
  border-radius: 20px;
  padding: 0% 2% 0% 2%;
  margin: 0% 1% 0% 1%;
}
button{
  width: 40px;
  border-radius: 20px;
  background: red;
  color: white;
}
button:hover {
  background: red;
}

/*--------- content -----------*/

.content {
  background-image: url(https://365manga.com/wp-content/themes/madara/images/bg-search.jpg);
  padding: 2%;
}

.content .mylist-area{
  margin: 2% 10% 2% 10%;
  border: 2px solid rgba(43, 15, 110, 0.5);
  border-radius: 20px;
  padding: 2%;
  background: white;
}

.content .mylist-area .topnav ul{
  list-style: none;
  overflow: hidden;
}

.content .mylist-area .topnav ul li {
  float: left;
}

.content .mylist-area .topnav ul li .active {
  background: rgb(44, 15, 110);
  color: white;
} 

.content .mylist-area .topnav ul li a {
  display: block;
  padding: 0px 30px 0px 30px; 
}

.content .mylist-area .topnav ul li a:hover {
  background: rgba(43, 15, 110, 0.637);
  color:white;
}

.content .mylist-area .topnav ul li .active-click {
  background: rgb(43, 15, 110);
  color: white;
} 

/*--------- mylist (content inside) -----------*/

.content .mylist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.content .mylist .area {
  width: 340px;
  height: 140px;
  margin: 10px;
  padding-top: 2%;
  padding-left: 5%;
  border: 1px solid black;
}
.content .mylist .area .cover {
  position: absolute;
  padding-left: 100px;
}
.content .mylist .area .cover img{
  width: 140px;
  padding-left: 100px;
}
.content .mylist .area .detail {
  position: absolute;
}


@media only screen and (max-width: 600px) {
  
  .header {
    padding: 5% 0% 5% 0%;
  }
  .content .mylist-area {
    margin: 1% 0% 1% 0%;
    font-size: 10px;
  }
  .content .mylist-area .topnav ul li a {
    font-size: 70%;
    display: block;
    padding: 0px 0px 0px 0px; 
  }
  .content .mylist {
    justify-content: center;
  }
  .content .mylist .area {
    width: 140px;
  }
  .content .mylist .area .cover img{
    width: 140px;
    padding-left: 0px;
  }
  .content .mylist .area .cover {
    padding-left: 0px;
  }
  button{
    width: 30px;
    font-size: 10px;
  }
  
  

}

