
.container .comic-list{
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .comic-list .display-comic{
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 8px;
}
.container .comic-list .display-comic .comic-sp {
  width: 420px;
  height: 200px;
  position: relative;
}
.container .comic-list .display-comic .comic-sp img {
  width: 200px;
}
.container .comic-list .display-comic .comic-sp .detail {
  position: absolute;
  text-align: left;
  padding-left: 5%;
  padding-top: 2%;
}
.container .comic-list .display-comic .comic-sp img{
  position: absolute;
  float: right;
}
.sub {
  background: rgb(236, 236, 238);
  border-radius: 20px;
  width: 65px;
  margin: 60% 10% 0% 2%;
  padding-left: 8%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition:  0.7s ease;
  background-color: rgb(120, 108, 159);
}
.text{
  color:white;
  font-size: 70%;
  left: 2%;
  right: 2%;
  top: 2%;
  position: absolute;
  overflow: hidden;
}


.container .comic-list .display-comic .comic-sp:hover .overlay {
  opacity: 1;
}


@media only screen and (max-width: 600px){
  h5 {
    font-size: 14px;
  }
  .fa-heart, .fa-user{
    font-size: 10px;
  }
  .container .comic-list .display-comic{
    position: relative;
    box-shadow: 0px 0px 0px;
    margin: 2px;
    font-size: 13px;
  }
  .container .comic-list .display-comic .comic-sp {
    width: 100px;
    height: 100px;
    display: block;
    text-align: left;
    position: relative;

  }
  .container .comic-list .display-comic .comic-sp .detail {
    position: absolute;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
  }
  .container .comic-list .display-comic .comic-sp img{
    position: absolute;
    width: 100px;
    height: 100px;
  }
  .sub {
    width: 30px;
    margin: 15% 10% 0% 2%;
    padding-left: 8%;
  }
 
}

